<section id="projects">
    <h2>Research Fundings & Scholarships</h2>
    
    <div class="project-card">
        <div class="project-header">
            <span class="project-status">Ongoing</span>
            <h3>(PI) JSPS Grant-in-Aid for Scientific Research (C)</h3>
            Typhoon-related moisture transport and its influence on remote heavy rainfall under current and future climates: A Lagrangian perspective</h3>
            
        </div>
    </div>

    <div class="project-card">
        <div class="project-header">
            <span class="project-status status-completed">Completed</span>
            2023-2025: (Collaborator) JSPS Grant-in-Aid for Scientific Research (C): 日本近海の温暖化は九州地方の豪雨を強化するか<br>
            2020-2023: (PI) JSPS Grant-in-Aid for Early-Career Scientists: Role of the sub-daily air-sea interaction on the convection over the Maritime Continent<br>
            2019-2022: (Collaborator) 九州大学応用力学研究所特定研究: 東アジア縁辺海が暖候期における集中豪雨に及ぼす影響<br>
            2014-2017: Kuma Toshimi International Scholarship
        </div>
    </div>
</section>